.left-arrow {
  font-size: 60px;
}
.left-arrow:hover {
  color: red;
  transform: translateY(3px);
}

.info-container img {
  height: 450px;
  width: 500px;
  border-radius: 20px;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container span {
  font-weight: 500;
}
.info-drinks {
  margin-top: 41px;
  width: 800px;
  border: 1px solid white;
  box-shadow: 5px 5px 10px 5px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  font-size: 20px;
  font-weight: 600;
}
.info-drinks p span {
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.image-drinks {
  height: 420px;
  width: 420px;
  border-radius: 10px;
  background-size: cover;
  background-size: cover;
  background-position: center;
}
p {
  font-size: 20px;
  font-weight: 600;
}

.span {
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: azure;
}
